# ID deaths

In [1]:
import argparse
import sys
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
def read_data(raw_clinical_note):
    data = pd.read_csv(raw_clinical_note, header=0,na_filter=True)
    return data

def read_ydata(data):
    data = pd.read_csv(data, header=1,na_filter=True)
    y = pd.DataFrame(data["Mortality"],columns=["Mortality"])
    return y

In [3]:
raw_data = 'C:/Users/Salvador/Modelo_COVID19/Libretas manuscrito/data_morelos_rename.csv'
data = pd.read_csv(raw_data)
print ("Total de registros", data.shape[0])

Total de registros 12103

In [4]:
X = data.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1','LOCRESI','RECTRATA', 'TXCROBIA', 'TXANTIVI', 'RESDEFIN', 'CLASCOVID19','Evolution','FECINGRE', 'FECINISI','VIH-SIDA', 'Mortality'],axis=1).astype(int)
y = data['Mortality'].astype(int) #Etiqueta
y = y.values.reshape(y.shape[0],1) #reshape
feature_list = X.columns
print("X::", X.shape)
print("Y::", y.shape)

X:: (12103, 39)
Y:: (12103, 1)

In [5]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Sex', 'LOCRESI',
       'Evolution', 'Intubated ', 'Age', 'Pregnancy', 'FECINGRE', 'FECINISI',
       'Fever', 'Cough', 'Odynophagia', 'Dyspnea', 'Irritability', 'Diarrhea',
       'Chest pain', 'Chills', 'Headache', 'Myalgia', 'Arthralgia',
       'General discomfort', 'Rhinorrhea', 'Polypnea', 'Vomiting',
       'Abdominal pain', 'Conjunctivitis', 'Cyanosis',
       'Sudden onset of symptoms', 'Anosmia', 'Dysgeusia', 'Diabetes', 'COPD',
       'Asthma', 'Immunosuppression', 'Hypertension', 'VIH-SIDA',
       'Cardiovascular disease', 'Obesity', 'CKD', 'Smoking', 'RECTRATA',
       'TXCROBIA', 'TXANTIVI', 'RESDEFIN', 'Puerperium', 'Use of antipyretics',
       'ICU', 'CLASCOVID19', 'Days elapsed', 'HIV AIDS', 'Mortality'],
      dtype='object')

In [6]:
ids_patients_expired = np.where(data.Mortality==1)
print("Patients expired (ids):",ids_patients_expired)

Patients expired (ids): (array([    2,     6,    17, ..., 12004, 12060, 12068], dtype=int64),)

# Men

In [7]:
data_hombres = data[(data["Sex"]==1)]

In [8]:
death_men = np.where(data_hombres.Mortality==1)
print("Men (death):",death_men)
data_hombres['Mortality'].value_counts()

Men (death): (array([   1,    4,    9, ..., 6555, 6581, 6587], dtype=int64),)

0    5289
1    1316
Name: Mortality, dtype: int64

# Men under 19 years old

In [9]:
data_hombres_edad_19 = data_hombres[(data_hombres["Age"]<=19)]

In [10]:
death_men_19 = np.where(data_hombres_edad_19.Mortality==1)
print("Men (death):",death_men_19)
data_hombres_edad_19['Mortality'].value_counts()

Men (death): (array([ 7, 18, 78], dtype=int64),)

0    132
1      3
Name: Mortality, dtype: int64

In [11]:
print (death_men_19)

(array([ 7, 18, 78], dtype=int64),)

# Men aged 20-29

In [12]:
data_hombres_edad_20_29 = data_hombres[(data_hombres["Age"]>=20) & ((data_hombres["Age"]<=29))]

In [13]:
death_men_20_29 = np.where(data_hombres_edad_20_29.Mortality==1)
print("Men (death):",death_men_20_29)
data_hombres_edad_20_29['Mortality'].value_counts()

Men (death): (array([ 14,  15,  58, 131, 151, 167, 268, 294, 324, 363, 423, 566, 616,
       644, 647, 656], dtype=int64),)

0    645
1     16
Name: Mortality, dtype: int64

# Men aged 30-39

In [14]:
data_hombres_edad_30_39 = data_hombres[(data_hombres["Age"]>=30) & ((data_hombres["Age"]<=39))]

In [15]:
death_men_30_39 = np.where(data_hombres_edad_30_39.Mortality==1)
print("Men (death):",death_men_30_39)
data_hombres_edad_30_39['Mortality'].value_counts()

Men (death): (array([   1,   29,   45,   50,   52,   57,   69,   91,  106,  112,  132,
        145,  158,  163,  169,  184,  190,  212,  248,  250,  311,  320,
        338,  354,  359,  367,  402,  426,  505,  507,  520,  527,  540,
        554,  611,  619,  649,  700,  749,  780,  908,  941,  950, 1015,
       1024, 1061, 1072, 1077], dtype=int64),)

0    1067
1      48
Name: Mortality, dtype: int64

# Men ages 40-49

In [16]:
data_hombres_edad_40_49 = data_hombres[(data_hombres["Age"]>=40) & ((data_hombres["Age"]<=49))] #Hombres de 40 a 49 aÃ±os

In [17]:
death_men_40_49 = np.where(data_hombres_edad_40_49.Mortality==1)
print("Men (death):",death_men_40_49)
data_hombres_edad_40_49['Mortality'].value_counts()

Men (death): (array([   6,   11,   13,   19,   25,   30,   34,   38,   41,   45,   48,
         50,   58,   59,   65,   68,   83,   90,   92,  105,  107,  114,
        115,  130,  134,  137,  156,  157,  168,  185,  194,  202,  212,
        231,  232,  235,  238,  241,  243,  263,  264,  278,  282,  283,
        303,  313,  324,  350,  352,  358,  382,  417,  426,  433,  436,
        444,  446,  453,  457,  503,  507,  542,  544,  560,  564,  566,
        580,  611,  632,  652,  675,  690,  696,  699,  717,  739,  740,
        758,  760,  761,  763,  765,  775,  786,  805,  811,  874,  881,
        887,  891,  901,  904,  987,  990,  993,  999, 1014, 1032, 1057,
       1058, 1072, 1081, 1086, 1091, 1110, 1123, 1135, 1144, 1147, 1149,
       1154, 1156, 1164, 1170, 1173, 1179, 1185], dtype=int64),)

0    1089
1     117
Name: Mortality, dtype: int64

# Men ages 50-59

In [18]:
data_hombres_edad_50_59 = data_hombres[(data_hombres["Age"]>=50) & ((data_hombres["Age"]<=59))] #Hombres de 50 a 59 aÃ±os

In [19]:
death_men_50_59 = np.where(data_hombres_edad_50_59.Mortality==1)
print("Men (death):",death_men_50_59)
data_hombres_edad_50_59['Mortality'].value_counts()

Men (death): (array([   0,    1,    4,    5,    7,    8,   12,   14,   20,   21,   23,
         26,   29,   31,   32,   35,   36,   38,   39,   42,   45,   46,
         48,   51,   53,   55,   58,   60,   61,   62,   63,   65,   66,
         69,   73,   74,   78,   79,   80,   82,   89,   90,   93,   95,
         96,  101,  102,  103,  106,  108,  110,  112,  113,  114,  116,
        117,  119,  121,  122,  130,  133,  135,  136,  139,  140,  146,
        148,  149,  150,  152,  153,  157,  158,  159,  164,  165,  172,
        174,  177,  178,  179,  183,  187,  199,  213,  216,  217,  218,
        219,  222,  224,  227,  229,  233,  236,  240,  243,  257,  258,
        262,  263,  270,  271,  274,  276,  282,  283,  285,  293,  296,
        298,  303,  306,  311,  318,  319,  322,  323,  329,  332,  334,
        348,  358,  382,  383,  384,  395,  398,  404,  407,  412,  424,
        426,  432,  434,  436,  439,  471,  473,  476,  477,  489,  494,
        496,  500,  501,  506,  517,  537,  548,  554,  559,  567,  572,
        575,  578,  588,  589,  598,  599,  607,  615,  619,  621,  644,
        646,  648,  652,  667,  668,  670,  672,  676,  679,  698,  702,
        706,  735,  747,  748,  755,  760,  763,  770,  789,  797,  802,
        810,  818,  831,  834,  846,  850,  857,  858,  862,  864,  865,
        874,  884,  898,  904,  906,  907,  909,  921,  926,  936,  939,
        940,  947,  954,  964,  965,  968,  982,  983, 1006, 1009, 1013,
       1022, 1025, 1029, 1031, 1046, 1048, 1051, 1052, 1060, 1061, 1070,
       1073, 1080, 1087, 1088, 1089, 1090, 1113, 1119, 1120, 1124, 1130,
       1131, 1133, 1134, 1135, 1136, 1139, 1150, 1151, 1154, 1156, 1157,
       1164, 1167, 1168, 1174, 1175, 1177, 1179, 1185, 1190, 1193, 1194,
       1202, 1203], dtype=int64),)

0    974
1    266
Name: Mortality, dtype: int64

# Men aged 60-69

In [20]:
data_hombres_edad_60_69 = data_hombres[(data_hombres["Age"]>=60) & ((data_hombres["Age"]<=69))]

In [21]:
death_men_60_69 = np.where(data_hombres_edad_60_69.Mortality==1)
print("Men (death):",death_men_60_69)
data_hombres_edad_60_69['Mortality'].value_counts()

Men (death): (array([   0,    2,    3,    4,    5,    7,   10,   11,   12,   13,   15,
         16,   18,   22,   25,   26,   27,   28,   29,   30,   32,   37,
         38,   42,   43,   45,   47,   50,   51,   52,   53,   57,   59,
         60,   61,   62,   63,   66,   68,   69,   70,   71,   73,   75,
         77,   78,   82,   83,   88,   89,   92,   93,   95,   96,   98,
         99,  101,  105,  106,  109,  110,  112,  113,  115,  116,  117,
        119,  122,  123,  124,  126,  127,  128,  133,  138,  141,  150,
        151,  152,  153,  160,  161,  168,  169,  175,  177,  178,  179,
        182,  183,  187,  190,  191,  192,  195,  197,  199,  201,  203,
        210,  213,  214,  216,  217,  223,  225,  226,  227,  229,  233,
        235,  240,  242,  247,  248,  251,  254,  258,  261,  264,  273,
        276,  277,  281,  284,  286,  292,  295,  298,  302,  304,  306,
        310,  315,  319,  320,  321,  322,  323,  324,  327,  330,  336,
        337,  338,  339,  341,  345,  346,  347,  351,  353,  356,  359,
        364,  365,  366,  367,  369,  370,  371,  372,  378,  379,  383,
        385,  389,  395,  396,  397,  400,  402,  403,  406,  407,  409,
        410,  417,  420,  427,  430,  431,  434,  438,  440,  441,  444,
        445,  446,  449,  456,  457,  459,  466,  467,  470,  473,  475,
        477,  479,  481,  487,  488,  489,  491,  501,  502,  503,  506,
        510,  512,  521,  522,  524,  527,  528,  530,  531,  532,  536,
        538,  539,  547,  550,  553,  554,  559,  562,  564,  568,  572,
        576,  577,  578,  581,  583,  586,  591,  599,  603,  604,  605,
        607,  608,  609,  614,  615,  616,  620,  622,  623,  627,  628,
        631,  632,  633,  634,  636,  637,  640,  642,  649,  651,  652,
        654,  655,  660,  665,  671,  678,  679,  681,  685,  686,  691,
        698,  701,  703,  704,  705,  707,  712,  714,  715,  718,  721,
        725,  729,  731,  733,  737,  739,  740,  741,  742,  743,  745,
        747,  772,  773,  774,  775,  776,  777,  781,  788,  789,  798,
        801,  802,  803,  804,  806,  816,  825,  832,  835,  838,  842,
        843,  844,  850,  858,  861,  863,  868,  877,  886,  887,  896,
        903,  904,  915,  920,  927,  928,  936,  937,  938,  944,  949,
        957,  959,  969,  974,  990,  991,  995,  996,  999, 1001, 1004,
       1008, 1011, 1015, 1018, 1020, 1026, 1027, 1033, 1034, 1035, 1036,
       1040, 1045, 1048, 1049, 1050, 1053, 1056, 1076, 1085, 1086, 1088,
       1090, 1093, 1106, 1108], dtype=int64),)

0    749
1    378
Name: Mortality, dtype: int64

# Men aged 70 and over

In [22]:
data_hombres_edad_70 = data_hombres[(data_hombres["Age"]>=70)]

In [23]:
death_men_70 = np.where(data_hombres_edad_70.Mortality==1)
print("Men (death):",death_men_70)
data_hombres_edad_70['Mortality'].value_counts()

Men (death): (array([   0,    7,    8,    9,   10,   11,   13,   14,   15,   16,   17,
         19,   20,   23,   25,   26,   27,   28,   29,   30,   32,   33,
         34,   37,   38,   39,   41,   42,   43,   44,   47,   48,   49,
         50,   52,   53,   55,   56,   58,   59,   62,   64,   65,   69,
         70,   71,   72,   74,   75,   78,   83,   84,   85,   87,   88,
         93,   94,   95,   97,   99,  100,  103,  104,  105,  107,  108,
        109,  110,  111,  112,  113,  114,  116,  117,  118,  119,  120,
        121,  122,  123,  124,  127,  130,  131,  132,  134,  135,  137,
        138,  140,  142,  143,  144,  147,  152,  153,  155,  156,  157,
        158,  159,  160,  161,  162,  163,  164,  165,  166,  167,  168,
        170,  171,  173,  174,  175,  177,  178,  179,  180,  184,  188,
        190,  191,  193,  194,  197,  198,  203,  205,  206,  209,  210,
        212,  213,  214,  218,  219,  220,  221,  224,  226,  231,  232,
        236,  237,  238,  239,  240,  241,  243,  244,  245,  248,  250,
        251,  254,  255,  257,  258,  259,  263,  264,  266,  267,  271,
        272,  273,  274,  275,  277,  278,  281,  282,  286,  290,  291,
        293,  296,  297,  298,  299,  300,  304,  308,  309,  311,  316,
        317,  321,  323,  324,  327,  328,  329,  330,  331,  332,  333,
        341,  342,  345,  347,  349,  351,  353,  358,  361,  362,  363,
        366,  367,  368,  371,  372,  375,  376,  377,  387,  389,  390,
        391,  393,  394,  396,  398,  401,  403,  404,  405,  406,  409,
        412,  413,  414,  417,  418,  421,  423,  425,  426,  435,  438,
        444,  446,  447,  451,  455,  456,  457,  458,  459,  460,  461,
        462,  464,  467,  469,  471,  472,  473,  475,  476,  480,  485,
        491,  493,  496,  497,  500,  502,  503,  504,  508,  510,  512,
        513,  515,  517,  518,  521,  525,  527,  531,  534,  538,  541,
        547,  550,  552,  556,  562,  563,  566,  574,  575,  578,  579,
        580,  582,  596,  597,  603,  604,  610,  614,  615,  616,  621,
        625,  628,  631,  632,  636,  637,  639,  641,  642,  643,  644,
        654,  657,  660,  662,  665,  667,  670,  675,  679,  681,  687,
        689,  694,  697,  702,  703,  704,  705,  707,  708,  713,  715,
        716,  718,  719,  720,  725,  728,  730,  737,  740,  741,  743,
        744,  748,  752,  753,  755,  757,  758,  759,  761,  767,  768,
        769,  770,  772,  777,  781,  782,  785,  786,  788,  789,  790,
        791,  794,  796,  801,  804,  807,  808,  809,  812,  814,  818,
        824,  825,  826,  827,  828,  842,  843,  844,  846,  848,  851,
        854,  856,  858,  861,  863,  874,  876,  877,  889,  890,  891,
        894,  896,  897,  905,  906,  907,  913,  914,  915,  916,  917,
        918,  919,  920,  921,  923,  926,  927,  928,  929,  930,  937,
        939,  940,  941,  943,  946,  948,  950,  951,  958,  959,  960,
        965,  968,  971,  972,  973,  978,  979,  981,  987,  988,  990,
        991,  994,  995,  996,  997,  999, 1002, 1005, 1009, 1012, 1014,
       1015, 1016, 1018, 1029, 1030, 1034, 1036, 1041, 1042, 1043, 1049,
       1055, 1060, 1062, 1066, 1071, 1073, 1081, 1085, 1091, 1092, 1093,
       1100, 1104, 1116, 1118], dtype=int64),)

0    633
1    488
Name: Mortality, dtype: int64

# Women

In [24]:
"""AsignaciÃ³n de datos: X y Y"""
data_mujer = data[(data["Sex"]==0)]

In [25]:
death_women = np.where(data_mujer.Mortality==1)
print("Women (death):",death_women)
data_mujer['Mortality'].value_counts()

Women (death): (array([   8,   14,   15,   19,   23,   24,   28,   32,   34,   36,   39,
         44,   45,   46,   54,   60,   64,   66,   75,   84,   85,   90,
         93,   95,   96,  101,  103,  104,  107,  108,  115,  119,  121,
        124,  125,  127,  128,  129,  130,  132,  138,  142,  144,  149,
        152,  154,  156,  157,  158,  165,  176,  177,  184,  185,  195,
        197,  200,  201,  203,  204,  209,  210,  212,  215,  217,  218,
        222,  228,  233,  236,  239,  241,  246,  255,  256,  258,  263,
        269,  273,  274,  277,  282,  293,  297,  298,  299,  301,  306,
        308,  316,  317,  321,  328,  329,  330,  333,  335,  338,  339,
        340,  343,  345,  359,  360,  361,  367,  368,  369,  373,  387,
        391,  394,  395,  400,  402,  407,  408,  421,  423,  424,  426,
        428,  430,  432,  434,  439,  440,  444,  447,  450,  451,  456,
        464,  465,  466,  467,  471,  472,  477,  488,  495,  496,  503,
        511,  512,  520,  532,  533,  536,  543,  551,  554,  559,  576,
        591,  592,  593,  595,  597,  627,  628,  632,  639,  674,  684,
        703,  708,  712,  713,  718,  719,  728,  732,  736,  738,  740,
        744,  747,  749,  753,  758,  785,  788,  789,  799,  800,  804,
        816,  819,  821,  834,  845,  855,  859,  866,  867,  870,  886,
        888,  890,  896,  902,  916,  922,  923,  925,  945,  946,  948,
        953,  958,  959,  972,  986,  987,  988,  991,  992,  998, 1006,
       1034, 1036, 1039, 1042, 1049, 1053, 1070, 1072, 1099, 1122, 1126,
       1153, 1156, 1158, 1173, 1184, 1194, 1219, 1222, 1240, 1242, 1248,
       1251, 1256, 1260, 1270, 1280, 1281, 1284, 1287, 1302, 1305, 1308,
       1314, 1324, 1329, 1341, 1362, 1367, 1379, 1408, 1411, 1417, 1419,
       1435, 1459, 1463, 1469, 1489, 1494, 1495, 1509, 1531, 1533, 1534,
       1536, 1541, 1555, 1567, 1580, 1597, 1638, 1639, 1641, 1652, 1659,
       1666, 1675, 1686, 1693, 1699, 1713, 1725, 1749, 1762, 1770, 1773,
       1774, 1775, 1800, 1808, 1810, 1811, 1845, 1885, 1897, 1906, 1927,
       1934, 1937, 1945, 1982, 1997, 2018, 2022, 2036, 2039, 2047, 2055,
       2076, 2090, 2092, 2103, 2114, 2122, 2127, 2131, 2149, 2176, 2183,
       2191, 2203, 2219, 2230, 2234, 2236, 2237, 2249, 2251, 2287, 2309,
       2310, 2320, 2337, 2380, 2386, 2394, 2403, 2404, 2407, 2419, 2432,
       2443, 2452, 2462, 2463, 2464, 2466, 2472, 2475, 2481, 2491, 2509,
       2513, 2538, 2546, 2565, 2572, 2574, 2582, 2597, 2601, 2602, 2617,
       2618, 2655, 2674, 2687, 2690, 2692, 2701, 2702, 2705, 2712, 2748,
       2749, 2757, 2771, 2781, 2791, 2792, 2793, 2798, 2799, 2803, 2833,
       2841, 2852, 2872, 2889, 2898, 2911, 2914, 2923, 2947, 2951, 2957,
       2959, 3005, 3006, 3008, 3069, 3072, 3101, 3102, 3103, 3109, 3131,
       3135, 3137, 3139, 3146, 3147, 3150, 3151, 3154, 3175, 3176, 3210,
       3338, 3345, 3376, 3390, 3403, 3411, 3423, 3483, 3491, 3552, 3553,
       3558, 3613, 3685, 3698, 3712, 3753, 3762, 3763, 3778, 3795, 3824,
       3832, 3837, 3870, 3877, 3879, 3921, 3936, 3944, 3957, 3962, 3974,
       3987, 4009, 4082, 4104, 4120, 4124, 4127, 4129, 4132, 4153, 4154,
       4163, 4164, 4167, 4179, 4199, 4202, 4232, 4240, 4242, 4246, 4249,
       4275, 4309, 4313, 4314, 4332, 4343, 4344, 4362, 4363, 4369, 4371,
       4376, 4377, 4383, 4386, 4399, 4441, 4446, 4464, 4471, 4472, 4495,
       4500, 4520, 4521, 4522, 4526, 4528, 4548, 4549, 4580, 4599, 4603,
       4605, 4612, 4613, 4645, 4647, 4653, 4660, 4661, 4662, 4671, 4675,
       4676, 4680, 4681, 4718, 4735, 4737, 4738, 4740, 4742, 4749, 4762,
       4774, 4801, 4804, 4805, 4826, 4837, 4845, 4846, 4850, 4851, 4852,
       4878, 4880, 4882, 4907, 4908, 4912, 4916, 4917, 4919, 4921, 4950,
       4955, 4957, 4973, 4974, 4975, 4979, 4980, 4984, 4985, 4992, 4994,
       4996, 4998, 5001, 5009, 5010, 5012, 5013, 5024, 5025, 5026, 5028,
       5031, 5034, 5037, 5044, 5045, 5048, 5054, 5059, 5063, 5066, 5068,
       5071, 5072, 5076, 5081, 5106, 5108, 5110, 5112, 5133, 5137, 5141,
       5148, 5152, 5153, 5154, 5156, 5157, 5158, 5159, 5160, 5165, 5166,
       5167, 5169, 5172, 5178, 5179, 5184, 5206, 5209, 5220, 5229, 5235,
       5246, 5259, 5260, 5268, 5277, 5282, 5286, 5287, 5288, 5299, 5301,
       5305, 5332, 5333, 5336, 5339, 5372, 5375, 5378, 5390, 5393, 5397,
       5409, 5416], dtype=int64),)

0    4847
1     651
Name: Mortality, dtype: int64

# Women under 19 years old

In [26]:
data_mujeres_edad_19 = data_mujer[(data_mujer["Age"]<=19)]

In [27]:
death_women_19 = np.where(data_mujeres_edad_19.Mortality==1)
print("Women (death):",death_women_19)
data_mujeres_edad_19['Mortality'].value_counts()

Women (death): (array([ 4, 12, 31, 66, 89], dtype=int64),)

0    138
1      5
Name: Mortality, dtype: int64

# Women aged 20-29

In [28]:
data_mujeres_edad_20_29 = data_mujer[(data_mujer["Age"]>=20) & ((data_mujer["Age"]<=29))]

In [29]:
death_women_20_29 = np.where(data_mujeres_edad_20_29.Mortality==1)
print("Women (death):",death_women_20_29)
data_mujeres_edad_20_29['Mortality'].value_counts()

Women (death): (array([24], dtype=int64),)

0    700
1      1
Name: Mortality, dtype: int64

# Women aged 30-39

In [30]:
data_mujeres_edad_30_39 = data_mujer[(data_mujer["Age"]>=30) & ((data_mujer["Age"]<=39))]

In [31]:
death_women_30_39 = np.where(data_mujeres_edad_30_39.Mortality==1)
print("Women (death):",death_women_30_39)
data_mujeres_edad_30_39['Mortality'].value_counts()

Women (death): (array([   5,    6,   20,   27,   78,  100,  113,  160,  175,  208,  262,
        305,  437,  490,  535,  583,  663,  852,  873,  918,  987, 1009,
       1015, 1028, 1066, 1075, 1092, 1115, 1124], dtype=int64),)

0    1114
1      29
Name: Mortality, dtype: int64

# Women aged 40-49

In [32]:
data_mujeres_edad_40_49 = data_mujer[(data_mujer["Age"]>=40) & ((data_mujer["Age"]<=49))]

In [33]:
death_women_40_49 = np.where(data_mujeres_edad_40_49.Mortality==1)
print("Women (death):",death_women_40_49)
data_mujeres_edad_40_49['Mortality'].value_counts()

Women (death): (array([  10,   19,   27,   39,   44,   46,   50,   67,   71,   73,   74,
         78,   83,  100,  163,  217,  244,  253,  265,  282,  284,  308,
        316,  325,  479,  506,  515,  598,  624,  769,  866,  892,  934,
        949,  987, 1000, 1018, 1020, 1038, 1055], dtype=int64),)

0    1050
1      40
Name: Mortality, dtype: int64

# Women aged 50-59

In [34]:
data_mujeres_edad_50_59 = data_mujer[(data_mujer["Age"]>=50) & ((data_mujer["Age"]<=59))]

In [35]:
death_women_50_59 = np.where(data_mujeres_edad_50_59.Mortality==1)
print("Women (death):",death_women_50_59)
data_mujeres_edad_50_59['Mortality'].value_counts()

Women (death): (array([  3,   6,   7,   8,  11,  12,  16,  18,  19,  21,  24,  26,  27,
        29,  30,  33,  34,  35,  36,  41,  42,  43,  44,  45,  52,  53,
        54,  56,  67,  71,  73,  74,  81,  83,  84,  87,  88,  90,  91,
       103, 114, 115, 139, 142, 144, 145, 146, 147, 166, 168, 171, 173,
       192, 195, 198, 200, 215, 219, 232, 251, 262, 281, 307, 309, 319,
       336, 339, 355, 357, 369, 400, 403, 409, 430, 445, 467, 468, 471,
       481, 486, 489, 510, 516, 518, 519, 520, 544, 565, 574, 575, 626,
       652, 664, 696, 705, 713, 737, 744, 747, 763, 771, 777, 779, 782,
       808, 811, 820, 822, 828, 831, 833, 846, 857, 871, 876, 877, 883,
       894, 896, 898, 907, 921, 922, 930, 931, 932, 933, 935, 936, 944,
       954, 959, 960, 963], dtype=int64),)

0    860
1    134
Name: Mortality, dtype: int64

# Women aged 60-69

In [36]:
data_mujeres_edad_60_69 = data_mujer[(data_mujer["Age"]>=60) & ((data_mujer["Age"]<=69))]

In [37]:
death_women_60_69 = np.where(data_mujeres_edad_60_69.Mortality==1)
print("Women (death):",death_women_60_69)
data_mujeres_edad_60_69['Mortality'].value_counts()

Women (death): (array([  2,   4,   5,  13,  14,  20,  21,  24,  26,  27,  28,  29,  30,
        33,  35,  37,  39,  40,  45,  46,  48,  50,  55,  56,  57,  58,
        60,  61,  62,  65,  67,  68,  69,  72,  73,  74,  77,  78,  79,
        82,  83,  85,  87,  88,  92, 103, 104, 108, 111, 112, 113, 114,
       117, 120, 123, 124, 125, 127, 128, 131, 132, 135, 139, 141, 142,
       145, 154, 155, 158, 166, 171, 173, 177, 178, 181, 182, 184, 185,
       186, 188, 189, 192, 199, 203, 212, 213, 218, 219, 229, 236, 240,
       246, 249, 251, 258, 265, 267, 269, 272, 273, 276, 282, 284, 288,
       289, 291, 303, 308, 313, 314, 315, 329, 340, 345, 347, 348, 350,
       351, 356, 358, 360, 362, 372, 376, 380, 384, 395, 396, 401, 407,
       408, 409, 410, 412, 413, 437, 468, 475, 481, 498, 500, 517, 522,
       523, 534, 538, 545, 551, 553, 555, 556, 570, 582, 583, 586, 587,
       599, 601, 609, 613, 617, 621, 622, 623, 635, 637, 649, 651, 653,
       654, 655, 656, 662, 664, 666, 668, 670, 671, 673, 680, 682, 683,
       684, 688, 698, 705, 706, 710, 711, 713, 719, 721, 723, 730, 732,
       734], dtype=int64),)

0    553
1    196
Name: Mortality, dtype: int64

# Women aged 70 and over

In [38]:
data_mujeres_edad_70 = data_mujer[(data_mujer["Age"]>=70)]

In [39]:
death_women_70 = np.where(data_mujeres_edad_70.Mortality==1)
print("Women (death):",death_women_70)
data_mujeres_edad_70['Mortality'].value_counts()

Women (death): (array([  1,   2,   3,   4,   5,   6,   7,   9,  10,  11,  12,  13,  14,
        15,  17,  18,  21,  24,  26,  27,  30,  31,  32,  33,  34,  35,
        38,  39,  40,  45,  48,  49,  50,  51,  52,  53,  54,  55,  56,
        59,  60,  62,  65,  67,  68,  71,  74,  75,  76,  79,  84,  86,
        88,  91,  92,  97,  98, 100, 101, 102, 108, 111, 112, 113, 118,
       119, 120, 124, 125, 126, 127, 129, 131, 139, 148, 152, 153, 156,
       158, 161, 163, 164, 168, 172, 176, 177, 184, 185, 192, 193, 194,
       200, 201, 203, 204, 207, 210, 212, 213, 218, 219, 224, 226, 228,
       229, 231, 239, 244, 245, 247, 249, 254, 256, 257, 261, 263, 265,
       270, 271, 273, 277, 285, 286, 288, 289, 290, 291, 292, 296, 298,
       299, 302, 303, 304, 307, 314, 317, 318, 319, 327, 333, 335, 342,
       344, 346, 350, 352, 362, 363, 364, 366, 367, 370, 378, 380, 384,
       386, 389, 393, 396, 399, 400, 410, 420, 421, 424, 428, 429, 438,
       439, 441, 442, 448, 452, 453, 454, 455, 457, 458, 462, 464, 465,
       466, 467, 472, 473, 477, 479, 480, 482, 485, 488, 493, 499, 500,
       510, 517, 521, 526, 529, 531, 533, 535, 536, 537, 542, 547, 548,
       551, 552, 554, 555, 556, 557, 564, 565, 566, 567, 568, 569, 571,
       572, 575, 582, 584, 585, 586, 587, 588, 590, 591, 602, 604, 607,
       608, 610, 614, 617, 622, 625, 632, 636, 651, 654, 656, 661],
      dtype=int64),)

0    432
1    246
Name: Mortality, dtype: int64