# Descriptive analysis

In [1]:
import argparse
import sys
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
def read_data(raw_clinical_note):
    data = pd.read_csv(raw_clinical_note, header=0,na_filter=True)
    return data

def delete_columns(data,columns): 
    df = data.drop(columns,axis=1)
    return df

In [3]:
raw_data = 'C:/Users/Salvador/Modelo_COVID19/Libretas manuscrito/BCM Infectius diseases/data_final_mor.csv'
data = pd.read_csv(raw_data)
print ("Total records", data.shape[0])

Total records 11564

In [4]:
data.shape[0]

11564

In [5]:
data.describe()

,Unnamed: 0,Sex,Age,Pregnancy,Fever,Cough,Odynophagia,Dyspnea,Irritability,Diarrhea,...,Hypertension,HIV AIDS,Cardiovascular disease,Obesity,CKD,Smoking,Puerperium,Use of antipyretics,Mortality,Days elapsed
count,1.156400e+04,11564.000000,11564.000000,11564.000000,11564.000000,11564.000000,11564.000000,11564.00000,11564.000000,11564.000000,...,11564.000000,11564.000000,11564.000000,11564.000000,11564.000000,11564.000000,11564.000000,11564.000000,11564.000000,11564.000000
mean,2.278208e+06,0.540038,49.118039,0.006572,0.845901,0.866655,0.609824,0.44431,0.151851,0.212383,...,0.241439,0.002162,0.022138,0.169405,0.029834,0.063732,0.000432,0.524127,0.140263,3.472155
std,1.576312e+06,0.498416,17.530808,0.080805,0.361059,0.339962,0.487811,0.49691,0.358892,0.409012,...,0.427974,0.046448,0.147138,0.375126,0.170136,0.244286,0.020790,0.499439,0.347275,2.399516
min,2.517300e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.578522e+05,0.000000,35.000000,0.000000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,2.167698e+06,1.000000,48.000000,0.000000,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,3.000000
75%,3.518499e+06,1.000000,62.000000,0.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,5.000000
max,5.477685e+06,1.000000,100.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,24.000000

In [6]:
data.columns

Index(['Unnamed: 0', 'Sex', 'Age', 'Pregnancy', 'Fever', 'Cough',
       'Odynophagia', 'Dyspnea', 'Irritability', 'Diarrhea', 'Chest pain',
       'Chills', 'Headache', 'Myalgia', 'Arthralgia', 'General discomfort',
       'Rhinorrhea', 'Polypnea', 'Vomiting', 'Abdominal pain',
       'Conjunctivitis', 'Cyanosis', 'Sudden onset of symptoms', 'Anosmia',
       'Dysgeusia', 'Diabetes', 'COPD', 'Asthma', 'Immunosuppression',
       'Hypertension', 'HIV AIDS', 'Cardiovascular disease', 'Obesity', 'CKD',
       'Smoking', 'Puerperium', 'Use of antipyretics', 'Mortality',
       'Days elapsed'],
      dtype='object')

In [7]:
data['Sex'] = np.where(data['Sex'] == 1, 'Men', 'Women')
data['Diabetes'] = np.where(data['Diabetes'] == 1, 'With Diabetes', 'Without Diabetes')
data['COPD'] = np.where(data['COPD'] == 1, 'With COPD', 'Without COPD')
data['Asthma'] = np.where(data['Asthma'] == 1, 'With Asthma', 'Without Asthma')
data['Immunosuppression'] = np.where(data['Immunosuppression'] == 1, 'With Immunosuppression', 'Without Immunosuppression')
data['Hypertension'] = np.where(data['Hypertension'] == 1, 'With Hypertension', 'Without Hypertension')
data['HIV AIDS'] = np.where(data['HIV AIDS'] == 1, 'With HIV AIDS', 'Without HIV AIDS')
data['Cardiovascular disease'] = np.where(data['Cardiovascular disease'] == 1, 'With Cardiovascular disease', 'Without Cardiovascular disease')
data['Obesity'] = np.where(data['Obesity'] == 1, 'With Obesity', 'Without Obesity')
data['CKD'] = np.where(data['CKD'] == 1, 'With CKD', 'Without CKD')
data['Smoking'] = np.where(data['Smoking'] == 1, 'With Smoking', 'Without Smoking')

data['Fever'] = np.where(data['Fever'] == 1, 'With Fever', 'Without Fever')
data['Cough'] = np.where(data['Cough'] == 1, 'With Cough', 'Without Cough')
data['Odynophagia'] = np.where(data['Odynophagia'] == 1, 'With Odynophagia', 'Without Odynophagia')
data['Dyspnea'] = np.where(data['Dyspnea'] == 1, 'With Dyspnea', 'Without Dyspnea')
data['Irritability'] = np.where(data['Irritability'] == 1, 'With Irritability', 'Without Irritability')
data['Diarrhea'] = np.where(data['Diarrhea'] == 1, 'With Diarrhea', 'Without Diarrhea')
data['Chest pain'] = np.where(data['Chest pain'] == 1, 'With Chest pain', 'Without Chest pain')
data['Chills'] = np.where(data['Chills'] == 1, 'With Chills', 'Without Chills')
data['Headache'] = np.where(data['Headache'] == 1, 'With Headache', 'Without Headache')
data['Myalgia'] = np.where(data['Myalgia'] == 1, 'With Myalgia', 'Without Myalgia')
data['Arthralgia'] = np.where(data['Arthralgia'] == 1, 'With Arthralgia', 'Without Arthralgia')
data['General discomfort'] = np.where(data['General discomfort'] == 1, 'With General discomfort', 'Without General discomfort')
data['Rhinorrhea'] = np.where(data['Rhinorrhea'] == 1, 'With Rhinorrhea', 'Without Rhinorrhea')
data['Polypnea'] = np.where(data['Polypnea'] == 1, 'With Polypnea', 'Without Polypnea')
data['Vomiting'] = np.where(data['Vomiting'] == 1, 'With Vomiting', 'Without Vomiting')
data['Abdominal pain'] = np.where(data['Abdominal pain'] == 1, 'With Abdominal pain', 'Without Abdominal pain')
data['Conjunctivitis'] = np.where(data['Conjunctivitis'] == 1, 'With Conjunctivitis', 'Without Conjunctivitis')
data['Cyanosis'] = np.where(data['Cyanosis'] == 1, 'With Cyanosis', 'Without Cyanosis')
data['Sudden onset of symptoms'] = np.where(data['Sudden onset of symptoms'] == 1, 'With Sudden onset of symptoms', 'Without Sudden onset of symptoms')
data['Anosmia'] = np.where(data['Anosmia'] == 1, 'With Anosmia', 'Without Anosmia')
data['Dysgeusia'] = np.where(data['Dysgeusia'] == 1, 'With Dysgeusia', 'Without Dysgeusia')
data['Use of antipyretics'] = np.where(data['Use of antipyretics'] == 1, 'With Use of antipyretics', 'Without Use of antipyretics')
data['Pregnancy'] = np.where(data['Pregnancy'] == 1, 'With Pregnancy', 'Without Pregnancy')
data['Puerperium'] = np.where(data['Puerperium'] == 1, 'With Puerperium', 'Without Puerperium')
data['Mortality'] = np.where(data['Mortality'] == 1, 'Mortality', 'Survival')

# Comorbidities

In [8]:
"""Contingency table Sex & Diabetes"""
Diabetes_ct=pd.crosstab(index=data['Sex'],columns=data['Diabetes'])
Diabetes_ct
Diabetes_ct.iloc[0].values
Diabetes_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Diabetes'], margins=True)

Diabetes  With Diabetes  Without Diabetes    All
Sex
Men                1266              4979   6245
Women               997              4322   5319
All                2263              9301  11564

In [9]:
"""Contingency table Sex & Chronic Obstructive Pulmonary Disease"""
COPD_ct=pd.crosstab(index=data['Sex'],columns=data['COPD'])
COPD_ct
COPD_ct.iloc[0].values
COPD_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['COPD'], margins=True)

COPD   With COPD  Without COPD    All
Sex
Men          101          6144   6245
Women        129          5190   5319
All          230         11334  11564

In [10]:
"""Contingency table Sex & Asthma"""
Asthma_ct=pd.crosstab(index=data['Sex'],columns=data['Asthma'])
Asthma_ct
Asthma_ct.iloc[0].values
Asthma_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Asthma'], margins=True)

Asthma  With Asthma  Without Asthma    All
Sex
Men              88            6157   6245
Women           132            5187   5319
All             220           11344  11564

In [11]:
"""Contingency table Sex & Immunosuppression"""
Immunosuppression_ct=pd.crosstab(index=data['Sex'],columns=data['Immunosuppression'])
Immunosuppression_ct
Immunosuppression_ct.iloc[0].values
Immunosuppression_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Immunosuppression'], margins=True)

Immunosuppression  With Immunosuppression  Without Immunosuppression    All
Sex
Men                                    36                       6209   6245
Women                                  38                       5281   5319
All                                    74                      11490  11564

In [12]:
"""Contingency table Sex & Hypertension"""
Hypertension_ct=pd.crosstab(index=data['Sex'],columns=data['Hypertension'])
Hypertension_ct
Hypertension_ct.iloc[0].values
Hypertension_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Hypertension'], margins=True)

Hypertension  With Hypertension  Without Hypertension    All
Sex
Men                        1567                  4678   6245
Women                      1225                  4094   5319
All                        2792                  8772  11564

In [13]:
"""Contingency table Sex & HIV AIDS"""
HIV_ct=pd.crosstab(index=data['Sex'],columns=data['HIV AIDS'])
HIV_ct
HIV_ct.iloc[0].values
HIV_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['HIV AIDS'], margins=True)

HIV AIDS  With HIV AIDS  Without HIV AIDS    All
Sex
Men                  18              6227   6245
Women                 7              5312   5319
All                  25             11539  11564

In [14]:
"""Contingency table Sex & Cardiovascular disease"""
Cardiovascular_ct=pd.crosstab(index=data['Sex'],columns=data['Cardiovascular disease'])
Cardiovascular_ct
Cardiovascular_ct.iloc[0].values
Cardiovascular_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Cardiovascular disease'], margins=True)

Cardiovascular disease,With Cardiovascular disease,Without Cardiovascular disease,All
Sex,,,
Men,150,6095,6245
Women,106,5213,5319
All,256,11308,11564

In [15]:
"""Contingency table Sex & Obesity"""
Obesity_ct=pd.crosstab(index=data['Sex'],columns=data['Obesity'])
Obesity_ct
Obesity_ct.iloc[0].values
Obesity_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Obesity'], margins=True)

Obesity  With Obesity  Without Obesity    All
Sex
Men              1005             5240   6245
Women             954             4365   5319
All              1959             9605  11564

In [16]:
"""Contingency table Sex & Chronic Kidney Disease"""
CKD_ct=pd.crosstab(index=data['Sex'],columns=data['CKD'])
CKD_ct
CKD_ct.iloc[0].values
CKD_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['CKD'], margins=True)

CKD    With CKD  Without CKD    All
Sex
Men         219         6026   6245
Women       126         5193   5319
All         345        11219  11564

In [17]:
"""Contingency table Sex & Smoking"""
Smoking_ct=pd.crosstab(index=data['Sex'],columns=data['Smoking'])
Smoking_ct
Smoking_ct.iloc[0].values
Smoking_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Smoking'], margins=True)

Smoking  With Smoking  Without Smoking    All
Sex
Men               547             5698   6245
Women             190             5129   5319
All               737            10827  11564

# Symptom

In [18]:
"""Contingency table Sex & Fever"""
fever_ct=pd.crosstab(index=data['Sex'],columns=data['Fever'])
fever_ct
fever_ct.iloc[0].values
fever_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Fever'], margins=True)

Fever  With Fever  Without Fever    All
Sex
Men          5429            816   6245
Women        4353            966   5319
All          9782           1782  11564

In [19]:
"""Contingency table Sex & Cough"""
cough_ct=pd.crosstab(index=data['Sex'],columns=data['Cough'])
cough_ct
cough_ct.iloc[0].values
cough_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Cough'], margins=True)

Cough  With Cough  Without Cough    All
Sex
Men          5469            776   6245
Women        4553            766   5319
All         10022           1542  11564

In [20]:
"""Contingency table Sex & Odynophagia"""
Odynophagia_ct=pd.crosstab(index=data['Sex'],columns=data['Odynophagia'])
Odynophagia_ct
Odynophagia_ct.iloc[0].values
Odynophagia_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Odynophagia'], margins=True)

Odynophagia  With Odynophagia  Without Odynophagia    All
Sex
Men                      3771                 2474   6245
Women                    3281                 2038   5319
All                      7052                 4512  11564

In [21]:
"""Contingency table Sex & Dyspnea"""
Dyspnea_ct=pd.crosstab(index=data['Sex'],columns=data['Dyspnea'])
Dyspnea_ct
Dyspnea_ct.iloc[0].values
Dyspnea_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Dyspnea'], margins=True)

Dyspnea  With Dyspnea  Without Dyspnea    All
Sex
Men              3113             3132   6245
Women            2025             3294   5319
All              5138             6426  11564

In [22]:
"""Contingency table Sex & Irritability"""
Irritability_ct=pd.crosstab(index=data['Sex'],columns=data['Irritability'])
Irritability_ct
Irritability_ct.iloc[0].values
Irritability_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Irritability'], margins=True)

Irritability  With Irritability  Without Irritability    All
Sex
Men                         940                  5305   6245
Women                       816                  4503   5319
All                        1756                  9808  11564

In [23]:
"""Contingency table Sex & Diarrhea"""
Diarrhea_ct=pd.crosstab(index=data['Sex'],columns=data['Diarrhea'])
Diarrhea_ct
Diarrhea_ct.iloc[0].values
Diarrhea_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Diarrhea'], margins=True)

Diarrhea  With Diarrhea  Without Diarrhea    All
Sex
Men                1301              4944   6245
Women              1155              4164   5319
All                2456              9108  11564

In [24]:
"""Contingency table Sex & Chest pain"""
chest_pain_ct=pd.crosstab(index=data['Sex'],columns=data['Chest pain'])
chest_pain_ct
chest_pain_ct.iloc[0].values
chest_pain_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Chest pain'], margins=True)

Chest pain  With Chest pain  Without Chest pain    All
Sex
Men                    2079                4166   6245
Women                  1732                3587   5319
All                    3811                7753  11564

In [25]:
"""Contingency table Sex & Chills"""
Chills_ct=pd.crosstab(index=data['Sex'],columns=data['Chills'])
Chills_ct
Chills_ct.iloc[0].values
Chills_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Chills'], margins=True)

Chills  With Chills  Without Chills    All
Sex
Men            3297            2948   6245
Women          2760            2559   5319
All            6057            5507  11564

In [26]:
"""Contingency table Sex & Headache"""
Headache_ct=pd.crosstab(index=data['Sex'],columns=data['Headache'])
Headache_ct
Headache_ct.iloc[0].values
Headache_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Headache'], margins=True)

Headache  With Headache  Without Headache    All
Sex
Men                5211              1034   6245
Women              4609               710   5319
All                9820              1744  11564

In [27]:
"""Contingency table Sex & Myalgia"""
Myalgia_ct=pd.crosstab(index=data['Sex'],columns=data['Myalgia'])
Myalgia_ct
Myalgia_ct.iloc[0].values
Myalgia_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Myalgia'], margins=True)

Myalgia  With Myalgia  Without Myalgia    All
Sex
Men              4677             1568   6245
Women            3979             1340   5319
All              8656             2908  11564

In [28]:
"""Contingency table Sex & Arthralgia"""
Arthralgia_ct=pd.crosstab(index=data['Sex'],columns=data['Arthralgia'])
Arthralgia_ct
Arthralgia_ct.iloc[0].values
Arthralgia_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Arthralgia'], margins=True)

Arthralgia  With Arthralgia  Without Arthralgia    All
Sex
Men                    4444                1801   6245
Women                  3719                1600   5319
All                    8163                3401  11564

In [29]:
"""Contingency table Sex & General discomfort"""
General_ct=pd.crosstab(index=data['Sex'],columns=data['General discomfort'])
General_ct
General_ct.iloc[0].values
General_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['General discomfort'], margins=True)

General discomfort  With General discomfort  Without General discomfort    All
Sex
Men                                    3707                        2538   6245
Women                                  2877                        2442   5319
All                                    6584                        4980  11564

In [30]:
"""Contingency table Sex & Rhinorrhea"""
Rhinorrhea_ct=pd.crosstab(index=data['Sex'],columns=data['Rhinorrhea'])
Rhinorrhea_ct
Rhinorrhea_ct.iloc[0].values
Rhinorrhea_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Rhinorrhea'], margins=True)

Rhinorrhea  With Rhinorrhea  Without Rhinorrhea    All
Sex
Men                    1796                4449   6245
Women                  1760                3559   5319
All                    3556                8008  11564

In [31]:
"""Contingency table Sex & Polypnea"""
Polypnea_ct=pd.crosstab(index=data['Sex'],columns=data['Polypnea'])
Polypnea_ct
Polypnea_ct.iloc[0].values
Polypnea_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Polypnea'], margins=True)

Polypnea  With Polypnea  Without Polypnea    All
Sex
Men                1065              5180   6245
Women               650              4669   5319
All                1715              9849  11564

In [32]:
"""Contingency table Sex & Vomiting"""
Vomiting_ct=pd.crosstab(index=data['Sex'],columns=data['Vomiting'])
Vomiting_ct
Vomiting_ct.iloc[0].values
Vomiting_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Vomiting'], margins=True)

Vomiting  With Vomiting  Without Vomiting    All
Sex
Men                 424              5821   6245
Women               459              4860   5319
All                 883             10681  11564

In [33]:
"""Contingency table Sex & Abdominal pain"""
Abdominal_pain_ct=pd.crosstab(index=data['Sex'],columns=data['Abdominal pain'])
Abdominal_pain_ct
Abdominal_pain_ct.iloc[0].values
Abdominal_pain_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Abdominal pain'], margins=True)

Abdominal pain  With Abdominal pain  Without Abdominal pain    All
Sex
Men                             741                    5504   6245
Women                           756                    4563   5319
All                            1497                   10067  11564

In [34]:
"""Contingency table Sex & Conjunctivitis"""
Conjunctivitis_ct=pd.crosstab(index=data['Sex'],columns=data['Conjunctivitis'])
Conjunctivitis_ct
Conjunctivitis_ct.iloc[0].values
Conjunctivitis_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Conjunctivitis'], margins=True)

Conjunctivitis  With Conjunctivitis  Without Conjunctivitis    All
Sex
Men                             638                    5607   6245
Women                           580                    4739   5319
All                            1218                   10346  11564

In [35]:
"""Contingency table Sex & Cyanosis"""
Cyanosis_ct=pd.crosstab(index=data['Sex'],columns=data['Cyanosis'])
Cyanosis_ct
Cyanosis_ct.iloc[0].values
Cyanosis_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Cyanosis'], margins=True)

Cyanosis  With Cyanosis  Without Cyanosis    All
Sex
Men                 239              6006   6245
Women               137              5182   5319
All                 376             11188  11564

In [36]:
"""Contingency table Sex & Sudden onset of symptoms"""
Sudden_ct=pd.crosstab(index=data['Sex'],columns=data['Sudden onset of symptoms'])
Sudden_ct
Sudden_ct.iloc[0].values
Sudden_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Sudden onset of symptoms'], margins=True)

Sudden onset of symptoms,With Sudden onset of symptoms,Without Sudden onset of symptoms,All
Sex,,,
Men,2191,4054,6245
Women,1802,3517,5319
All,3993,7571,11564

In [37]:
"""Contingency table Sex & Anosmia"""
Anosmia_ct=pd.crosstab(index=data['Sex'],columns=data['Anosmia'])
Anosmia_ct
Anosmia_ct.iloc[0].values
Anosmia_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Anosmia'], margins=True)

Anosmia  With Anosmia  Without Anosmia    All
Sex
Men               933             5312   6245
Women             995             4324   5319
All              1928             9636  11564

In [38]:
"""Contingency table Sex & Dysgeusia"""
Dysgeusia_ct=pd.crosstab(index=data['Sex'],columns=data['Dysgeusia'])
Dysgeusia_ct
Dysgeusia_ct.iloc[0].values
Dysgeusia_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Dysgeusia'], margins=True)

Dysgeusia  With Dysgeusia  Without Dysgeusia    All
Sex
Men                   807               5438   6245
Women                 915               4404   5319
All                  1722               9842  11564

# Medication

In [39]:
antipyretics_ct=pd.crosstab(index=data['Sex'],columns=data['Use of antipyretics'])
antipyretics_ct
antipyretics_ct.iloc[0].values
antipyretics_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Use of antipyretics'], margins=True)

Use of antipyretics,With Use of antipyretics,Without Use of antipyretics,All
Sex,,,
Men,3268,2977,6245
Women,2793,2526,5319
All,6061,5503,11564

# Other

In [40]:
"""Contingency table Sex & Pregnancy"""
Pregnancy_ct=pd.crosstab(index=data['Sex'],columns=data['Pregnancy'])
Pregnancy_ct
Pregnancy_ct.iloc[0].values
Pregnancy_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Pregnancy'], margins=True)

Pregnancy  With Pregnancy  Without Pregnancy    All
Sex
Men                     0               6245   6245
Women                  76               5243   5319
All                    76              11488  11564

In [41]:
"""Contingency table Sex & Puerperium"""
Puerperium_ct=pd.crosstab(index=data['Sex'],columns=data['Puerperium'])
Puerperium_ct
Puerperium_ct.iloc[0].values
Puerperium_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Puerperium'], margins=True)

Puerperium  With Puerperium  Without Puerperium    All
Sex
Men                       0                6245   6245
Women                     5                5314   5319
All                       5               11559  11564

In [42]:
"""Contingency table Sex & Mortality"""
Lethality_ct=pd.crosstab(index=data['Sex'],columns=data['Mortality'])
Lethality_ct
Lethality_ct.iloc[0].values
Lethality_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Mortality'], margins=True)

Mortality  Mortality  Survival    All
Sex
Men             1084      5161   6245
Women            538      4781   5319
All             1622      9942  11564

In [43]:
"""Contingency table Sex & Days elapsed"""
Days_ct=pd.crosstab(index=data['Sex'],columns=data['Days elapsed'])
Days_ct
Days_ct.iloc[0].values
Days_ct.iloc[1].values
pd.crosstab(index=data['Sex'],columns=data['Days elapsed'], margins=True)

Days elapsed,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,13.0,14.0,15.0,16.0,17.0,19.0,20.0,21.0,24.0,All
Sex,,,,,,,,,,,,,,,,,,,,,
Men,265,1187,894,1072,1072,704,405,277,141,81,...,14,13,8,2,2,3,1,0,0,6245
Women,240,989,789,997,958,542,310,208,124,51,...,11,16,3,3,1,2,0,1,1,5319
All,505,2176,1683,2069,2030,1246,715,485,265,132,...,25,29,11,5,3,5,1,1,1,11564

# Distribution of men by age

In [44]:
data_hombres = data[(data["Sex"]=='Men')]

In [45]:
data_hombres.describe()

         Unnamed: 0          Age  Days elapsed
count  6.245000e+03  6245.000000   6245.000000
mean   2.266527e+06    50.608167      3.514812
std    1.594487e+06    17.684147      2.423919
min    2.517300e+04     0.000000      0.000000
25%    7.031590e+05    37.000000      2.000000
50%    2.135250e+06    50.000000      3.000000
75%    3.524145e+06    64.000000      5.000000
max    5.477685e+06    99.000000     20.000000

In [46]:
print("Men:",data_hombres.shape[0])
print(data_hombres['Mortality'].value_counts())

Men: 6245
Survival     5161
Mortality    1084
Name: Mortality, dtype: int64

# Men under 20

In [47]:
data_hombres_edad_19 = data_hombres[(data_hombres["Age"]<=19)] 
print("Men under 20:",data_hombres_edad_19.shape[0])
print(data_hombres_edad_19['Mortality'].value_counts())

Men under 20: 134
Survival     132
Mortality      2
Name: Mortality, dtype: int64

#  Men aged 20 to 29

In [48]:
data_hombres_edad_20_29 = data_hombres[(data_hombres["Age"]>=20) & ((data_hombres["Age"]<=29))] 
print("Men aged 20 to 29:",data_hombres_edad_20_29.shape[0])
print(data_hombres_edad_20_29['Mortality'].value_counts())

Men aged 20 to 29: 657
Survival     643
Mortality     14
Name: Mortality, dtype: int64

# Men aged 30 to 39

In [49]:
data_hombres_edad_30_39 = data_hombres[(data_hombres["Age"]>=30) & ((data_hombres["Age"]<=39))] 
print("Men aged 30 to 39:",data_hombres_edad_30_39.shape[0])
print(data_hombres_edad_30_39['Mortality'].value_counts())

Men aged 30 to 39: 1091
Survival     1053
Mortality      38
Name: Mortality, dtype: int64

# Men aged 40 to 49

In [50]:
"""AsignaciÃ³n de datos: X y Y"""
data_hombres_edad_40_49 = data_hombres[(data_hombres["Age"]>=40) & ((data_hombres["Age"]<=49))] 
print("Men aged 40 to 49:",data_hombres_edad_40_49.shape[0])
print(data_hombres_edad_40_49['Mortality'].value_counts())

Men aged 40 to 49: 1149
Survival     1061
Mortality      88
Name: Mortality, dtype: int64

# Men aged 50 to 59

In [51]:
data_hombres_edad_50_59 = data_hombres[(data_hombres["Age"]>=50) & ((data_hombres["Age"]<=59))] 
print("Men aged 50 to 59:",data_hombres_edad_50_59.shape[0])
print(data_hombres_edad_50_59['Mortality'].value_counts())

Men aged 50 to 59: 1150
Survival     947
Mortality    203
Name: Mortality, dtype: int64

# Men aged 60 to 69

In [52]:
data_hombres_edad_60_69 = data_hombres[(data_hombres["Age"]>=60) & ((data_hombres["Age"]<=69))]
print("Men aged 60 to 69:",data_hombres_edad_60_69.shape[0])
print(data_hombres_edad_60_69['Mortality'].value_counts())

Men aged 60 to 69: 1034
Survival     724
Mortality    310
Name: Mortality, dtype: int64

# Men aged 70 and over

In [53]:
data_hombres_edad_70 = data_hombres[(data_hombres["Age"]>=70)]
print("Men aged 70 and over:",data_hombres_edad_70.shape[0])
print(data_hombres_edad_70['Mortality'].value_counts())

Men aged 70 and over: 1030
Survival     601
Mortality    429
Name: Mortality, dtype: int64

# Distribution of women by age

In [54]:
data_mujer = data[(data["Sex"]=='Women')]

In [55]:
data_mujer.describe()

         Unnamed: 0          Age  Days elapsed
count  5.319000e+03  5319.000000   5319.000000
mean   2.291923e+06    47.368490      3.422072
std    1.554740e+06    17.186562      2.369793
min    3.038000e+04     0.000000      0.000000
25%    8.348510e+05    34.000000      2.000000
50%    2.206787e+06    46.000000      3.000000
75%    3.503856e+06    60.000000      5.000000
max    5.475449e+06   100.000000     24.000000

In [56]:
print("Women:",data_mujer.shape[0])
print(data_mujer['Mortality'].value_counts())

Women: 5319
Survival     4781
Mortality     538
Name: Mortality, dtype: int64

# Women under 20

In [57]:
data_mujeres_edad_19 = data_mujer[(data_mujer["Age"]<=19)] 
print("Women under 20:",data_mujeres_edad_19.shape[0])
print(data_mujeres_edad_19['Mortality'].value_counts())

Women under 20: 140
Survival     137
Mortality      3
Name: Mortality, dtype: int64

# Women aged 20 to 29

In [58]:
data_mujeres_edad_20_29 = data_mujer[(data_mujer["Age"]>=20) & ((data_mujer["Age"]<=29))]
print("Women aged 20 to 29:",data_mujeres_edad_20_29.shape[0])
print(data_mujeres_edad_20_29['Mortality'].value_counts())

Women aged 20 to 29: 696
Survival    696
Name: Mortality, dtype: int64

# Women aged 30 to 39

In [59]:
data_mujeres_edad_30_39 = data_mujer[(data_mujer["Age"]>=30) & ((data_mujer["Age"]<=39))]
print("Women aged 30 to 39:",data_mujeres_edad_30_39.shape[0])
print(data_mujeres_edad_30_39['Mortality'].value_counts())

Women aged 30 to 39: 1127
Survival     1107
Mortality      20
Name: Mortality, dtype: int64

# Women aged 40 to 49

In [60]:
data_mujeres_edad_40_49 = data_mujer[(data_mujer["Age"]>=40) & ((data_mujer["Age"]<=49))]
print("Women aged 40 to 49:",data_mujeres_edad_40_49.shape[0])
print(data_mujeres_edad_40_49['Mortality'].value_counts())

Women aged 40 to 49: 1072
Survival     1042
Mortality      30
Name: Mortality, dtype: int64

# Women aged 50 to 59 years

In [61]:
data_mujeres_edad_50_59 = data_mujer[(data_mujer["Age"]>=50) & ((data_mujer["Age"]<=59))]
print("Women aged 50 to 59:",data_mujeres_edad_50_59.shape[0])
print(data_mujeres_edad_50_59['Mortality'].value_counts())

Women aged 50 to 59: 951
Survival     847
Mortality    104
Name: Mortality, dtype: int64

# Women aged 60 to 69

In [62]:
data_mujeres_edad_60_69 = data_mujer[(data_mujer["Age"]>=60) & ((data_mujer["Age"]<=69))]
print("Women aged 60 to 69:",data_mujeres_edad_60_69.shape[0])
print(data_mujeres_edad_60_69['Mortality'].value_counts())

Women aged 60 to 69: 700
Survival     536
Mortality    164
Name: Mortality, dtype: int64

# Women aged 70 and over

In [63]:
data_mujeres_edad_70 = data_mujer[(data_mujer["Age"]>=70)]
print("Women aged 70 and over:",data_mujeres_edad_70.shape[0])
print(data_mujeres_edad_70['Mortality'].value_counts())

Women aged 70 and over: 633
Survival     416
Mortality    217
Name: Mortality, dtype: int64